/******************
       RESET
******************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/******************
    TYPOGRAPHY
******************/
body {
    font-family: "PT Sans", sans-serif;
}

h2 {
    font-size: 30px;
}

/******************
      GENERAL
******************/
.container {
    max-width: 1180px;
    margin: auto;
    padding: 10px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 20px;
}

.col {
    margin: 10px 10px;
    overflow: hidden;
}

/******************
     UTILITIES
******************/
/*--- Buttons ---*/
.btn {
    border: none;
    border-radius: 15px;
    padding: 6px 10px;
    cursor: pointer;
}

.btn-blue {
    background-color: #0084fd;
    color: white;
    padding: 8px 32px;
}

.btn-circle {
    border-radius: 50%;
    background-color: #9792e4;
    height: 45px;
    width: 45px;
}

.btn-about-us {
    font-size: 12px;
    padding: 4px 10px;
}

.btn-its-free {
    color: #9792e4;
    padding: 12px 38px;
    border-radius: 30px;
}
/*--- /Buttons ---*/

/******************
      HEADER
******************/
header {
    background-color: #0084fd;
}

.hamburger {
    display: none;
    color: white;
    font-size: 24px;
}

header .row {
    justify-content: space-between;
    align-items: center;
}

header ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

header a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

/******************
      SECTIONS
******************/
/*--- Intro Section ---*/
#intro .container {
    margin-top: 40px;
    margin-bottom: 60px;
}
#intro .container:first-child .col{
    width: calc((100% / 3) - 10px);
}

#intro .container:last-child .col {
    background-color: #b5ddff;
    width: calc((100% / 3) - 20px) ;
    border-radius: 20px;
}

#intro .col {
    text-align: center;
    max-height: 400px;
}

#intro .card {
    height: 100%;
    display: flex;
    flex-direction: column;

}

#intro h3, #intro p, #intro i, #intro button {
    margin: 30px 20px;
}

#intro .big-col {
    flex-grow: 1;
    text-align: start;
}

#intro .big-col .card {
    flex-direction: row;
}

.big-col .card div:first-child {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#intro p {
    font-size: 15px;
    line-height: 20px;
}

#intro button {
    width: 160px;
}

#intro .big-col .card div:first-child i {
    margin: 0;
}

#intro i {
    font-size: 60px;
}

#intro i, #intro h3 {
    color: #0084fd;;
}

#intro button i {
    font-size: 16px;
    color: white;
}

.big-col .card div img {
    max-height: 90%;
    margin-top: 65px;
    margin-right: 65px;
}

/*--- /Intro Section ---*/

/*--- Planning Section ---*/
#planning {
    background-color: #9792e4;
}

#planning .container {
    max-width: 1000px;
}

#planning .row {
    justify-content: center;
    margin-bottom: 5%;
}

#planning .col {
    width: 40%
}

#planning img {
    width: 60%;
}

#planning .col:first-child img {
    width: 90%;
}

#planning .col:first-child {
    margin-top: 8%;
}

#planning .card {
    background-color: white;
    border-radius: 50px;
    margin-top: 60%;
    text-align: center;
    padding: 8% 20px;
}

#planning .card img {
    margin: 0 auto;
}

#planning h2 {
    margin-top: 28%;
    color: white;
}

#planning .row .col:first-child p {
    margin-top: 10%;
    color: white;
}

#planning .row .col:last-child p {
    line-height: 24px;
    margin-bottom: 7%;
}

#planning h3 {
    margin: 5% 0;
}

/*--- /Planning Section ---*/

/******************
  RESPONSIVENESS
******************/
/*--- Tablet ---*/
@media screen and (max-width: 992px) {
    header ul {
        display: none;
    }

    .hamburger {
        display: block;
    }

    #intro .big-col .card {
        flex-direction: column;
    }

    #intro .big-col .card div:first-child {
        width: 100%;
        height: 30%;
    }

    .big-col .card div img {
        width: 40%;
        padding-top: 22px;
        margin-left: 18px;
    }

    #intro h3, #intro p, #intro i, #intro button {
        margin: 15px 20px;
    }

    #planning .row {
        flex-direction: column;
        align-content: center;
    }

    #planning .col {
        width: 90%;
    }

    #planning .card {
        margin-top: 15%;
    }
}

/*--- Mobile ---*/
@media screen and (max-width: 768px) {
    #intro .row {
        display: block;
    }

    #intro .col {
        margin: 20px auto;
    }

    #intro .container:first-child .col {
        min-width: 80%;
    }

    #intro .big-col {
        text-align: center;
    }

    #intro button {
        margin: auto;
    }

    .big-col .card div img {
        height: 100%;
        margin: auto;
    }
}