/******************
       RESET
******************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/******************
    TYPOGRAPHY
******************/
body {
    font-family: "PT Sans", sans-serif;
}

/******************
      GENERAL
******************/
.container {
    max-width: 1180px;
    margin: auto;
    padding: 10px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 20px;
}

.col {
    margin: 5px 5px;
    overflow: hidden;
}

/******************
     UTILITIES
******************/
/*--- Buttons ---*/
.btn {
    border: none;
    border-radius: 15px;
    padding: 6px 10px;
    cursor: pointer;
}

.btn-blue {
    background-color: #0084fd;
    color: white;
    padding: 6px 32px;
}

.btn-circle {
    border-radius: 50%;
    background-color: #9792e4;
}

.btn-about-us {
    font-size: 12px;
    padding: 4px 10px;
}

.btn-its-free {
    color: #9792e4;
    padding: 12px 38px;
    border-radius: 30px;
}
/*--- /Buttons ---*/

/******************
      HEADER
******************/
header {
    background-color: #0084fd;
}

.hamburger {
    display: none;
    color: white;
    font-size: 24px;
}

header .row {
    justify-content: space-between;
    align-items: center;
}

header ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

header a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

/******************
      SECTIONS
******************/
/*--- Intro Section ---*/
#intro .container:first-child .col{
    width: calc((100% / 3) - 5px);
}

#intro .container:last-child .col {
    background-color: #b5ddff;
    width: calc((100% / 3) - 10px) ;
    border-radius: 10px;
}

#intro .col {
    text-align: center;
    max-height: 400px;
}

#intro .card {
    height: 100%;
    display: flex;
    flex-direction: column;

}

#intro h3, #intro p, #intro i {
    margin: 30px 20px;
}

#intro .big-col {
    flex-grow: 1;
    text-align: start;
}

#intro .big-col .card {
    flex-direction: row;
}

.big-col .card div:first-child {
    width: 50%;
}

#intro i {
    font-size: 60px;
}

#intro button i {
    font-size: 16px;
}

.big-col .card div img {
    max-height: 90%;
    margin-top: 65px;
    margin-right: 65px;
}


/*--- /Intro Section ---*/

/******************
  RESPONSIVENESS
******************/
/*--- Tablet ---*/
@media screen and (max-width: 992px) {
    header ul {
        display: none;
    }

    .hamburger {
        display: block;
    }
}

/*--- Mobile ---*/
@media screen and (max-width: 768px) {}